#export {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background: black;
    display: flex;
    justify-content: center;
    z-index: 1;
}
#export button {
    appearance: none;
    border: none;
}

#export button:not([data-to]) {
    pointer-events: none;
    opacity: .5;
}

#export button.clickable {
    pointer-events: unset;
    opacity: unset;
}
#export button {
    appearance: none;
    border: none;
    border-radius: 0;
}

#export-image-container {
    width: fit-content;
    position: relative;
    height: 100%;
}

#export #logo {
    position: absolute;

    top: 2em;
    left: 2em;
}

#export-image-container img {
    height: 100%;
}

/* EXPORT NAVBAR */
#export-navbar {
    position: absolute;
    bottom: 1em;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(8px);
    border-radius: 5em;
    box-shadow: 0px 3px 10px rgba(13, 13, 13, 0.18);
    /* width: 20em; */
    width: fit-content;
    /* max-width: 25em; */
    max-width: 90%;
    height: 3.5em;
    overflow-x: hidden;
    display: flex;
}

.export-action-button {
    display: flex;
}
.export-action-button img {
    height: 1.3em;
}

/* EXPORT NAV */
/* navigation lists e.g. appearance, framing, main-menu */
.export-nav {
    width: 100%;
    justify-content: center;
    display: none;
    align-items: center;
}

.export-nav.reveal {
    /* #export>form.selected { */
    display: flex;
}

.export-nav li button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
    background: transparent;
    color: white;
}

.export-nav li img {
    height: 1.5em;
}

.export-nav li {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.export-nav-image {
    height: 1em;
    padding: 0 1em;
}

/* END EXPORT NAV ELEMENT */


/* 
        SLIDERS
        */
#slider {
    padding: 0;
}

.slider-images {
    display: flex;
}

.slider-images img {
    height: 3.5em;
    /* height: fit-content; */
}

#custom-slider {
    position: relative;
}

#slider input[type="range"] {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* perhaps for mobile screen when too small make slider vertical */
    /* writing-mode: vertical-lr; */
    opacity: 0;
    cursor: grab;
}
#slider input[type="range"]:active {
    cursor: grabbing;
}

#slider-thumb {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: .7em;
    background: blue;
}

/* END ___ SLIDERS */


/* EXPORT BUTTONS -> BACK & RESET & SAVE */
#export-back, #export-download {
    /* DO NOT set height 100% ! ! ! ! let align-items: stretch on the parent container do the WORK! ! ! !  */
    background: gray;
    color: black;
    padding: 0 1em 0 1.5em;
}
#export-download {
    background: rgb(29 142 29);
    padding: 0 1em;
}

.export-reset-save-container {
    display: flex;
    height: 100%;
}

.export-reset,
.export-save,
#export-back,
#export-download {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.export-reset {
    padding: 0 1em 0 1em;
    background: red;
    /* color: red; */
    /* border: .1em solid; */
    /* border-color: rgb(0, 0, 0, 0); */

    opacity: .5;
    filter: grayscale(.5);
    user-select: none;
    pointer-events: none;
}

.export-save {
    padding: 0 1em;
    background: rgb(25, 102, 203);
    color: rgb(24, 186, 24);

    opacity: .5;
    filter: grayscale(.5);
    user-select: none;
    pointer-events: none;
}

/* END OF EXPORT BUTTONS -> RESET &&&&&& SAVE */


/* MAIN MENU */
#main-menu {
    padding: 1em 2em;
}

#appearance {
    padding: 0 2em 0 0;
}



#export-image {
    height: 25em;
}