#export {
    width: 100%;
    height: 90%;
    /* header is 10% height */
    top: 10%;
    left: 0;
    /* position absolute in #export-footer
    need relative position on export so 
    it doesn't act on #header position sticky
     */
    position: relative;
    background: black;
}


/* START EXPORT BODY */
#export-body {
    height: 90%;
    /* height: 60vh; */
    width: 100%;
    background: #201f1f;

    position: relative;
}
#export-image {
    width: 60%;
}
/* END EXPORT BODY */


/* START EXPORT FOOTER */
#export-image-actions {
    position: absolute;
    top: 1em;
    right: 1em;
}


/* START EXPORT ACTIONS */

/* logos of actions */
#export-actions img {
    height: 1em;
}

/* hiding radio button (only want label to show) */
#export-actions input {
    display: none;
}

/* turn the label (with img) to gray (differentiates between selected) */
.export-action {
    filter: invert(.5);
}

/* consider chaning this to li { ...!important } */
#export-image-actions li {
    list-style-type: none;
}
#export-image-actions img {
    height: 1em;
}
#export-footer {
    height: 20%;
    width: 100%;
    background: black;
    margin-top: 1em;
}
.radiogroup img {
    padding-right: .2em;
}
.clicked.export-action { 
    filter: unset;
}

/* START EXPORT METADATA */
#export-metadata, #export-slider {
    max-width: 100%;
    min-width: 40%;
    width: fit-content;
    height: 100%;
    /* overflow-y: scroll; */
    scrollbar-width: none;

    /* text-align: right; */
}
#export-metadata li {
    list-style-type: none;
    width: 100%;
}
#export-metadata ul:nth-of-type(even) {
    margin: 0 1em;
}
#export-metadata ul:last-child {
    margin-right: 0;
}
.metadata-title {
    color: var(--rock);
    margin-right: 2em;
}
/* END OF METADATA */



/* START OF SLIDER */
#export-slider {
    overflow: hidden;
}

#slider-container {
    position: relative;
}

/* do not want to make input:slider visible just functional */
#export-input-slider {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0;
}

.value {
    appearance: none;
    border: none;
    width: 10%;
    background: var(--rock);
    text-align: center;
    -moz-appearance: textfield;
}
/* value is input:number which has default up and down arrows next to text 
this removes the up and down arrows
*/
.value::-webkit-inner-spin-button, .value::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.value h4 {
    position: absolute;
}

#slider-container {
    width: 90%;
}
.slider-images {
    height: 100%;
    width: fit-content;
}
.slider-images img {
    margin: 0;
    /* height: 100%; */
    width: 20%;
}

/* bar user "drags" */
.bar {
    height: 100%;
    width: .4em;
    background: red;
    position: absolute;
    top: 0;
    box-shadow: 0px 5px 10px 5px #000000;
}