#filter-button {
    height: var(--filter-size);
    width: var(--filter-size);
    background: var(--white);
    border-radius: 100%;

    border-width: .2em;
    border-style: solid;
    border-top-color: var(--feeling);
    border-right-color: var(--location);
    border-bottom-color: var(--gang);
    border-bottom-width: .3em;
    border-left-color: var(--time);
}


#filter {
    /* important to appear above #gallery (2 has no meaning)*/
    z-index: 2;

    width: 100%;
    /* child of header -> header has 10% height relative to body -> 100% = 10% -> 300% = 30% of body */
    height: 40vh;
    position: absolute;
    top: 100%;
    left: 0;
    background: black;
    /* padding: 2em 0; */
    border-top: 1px solid var(--white);
}

/* 
NEW FILTER LIST
 */

.filter-metadata-heading {
    color: var(--rock);
}

#filter-list input {
    display: none;
}

.f-l::after,
.f-l::before {
    color: var(--location);
}
.clicked.f-l {
    background: var(--location);
}

.f-g::after,
.f-g::before {
    color: var(--gang);
}
.clicked.f-g {
    background: var(--gang);
}

.f-t::after,
.f-t::before {
    color: var(--time);
}
.clicked.f-t {
    background: var(--time);
}

.f-f::after,
.f-f::before {
    color: var(--feeling);
}
.clicked.f-f {
    background: var(--feeling);
}
/* END OF NEW FILTER LIST */



#filter-options {
    text-align: right;
    height: 100%;
    width: 20%;
    padding: 1em 0;
}

#filter-actions div {
    /* 
    * ADD FOUNDATIONAL
    GAP CLASS TOO
    STANDARDIZE GAP BETWEEN ITEMS
     */
    gap: .5em;
    align-items: stretch;
}
#filter-actions button:hover {
    cursor: none;
}

#filter-output {
    /* background: rgb(38, 38, 38);
    background: linear-gradient(102deg, rgba(38, 38, 38, 1) 0%, rgba(25, 25, 25, 1) 100%); */

    width: 80%;
    height: 100%;
    overflow-y: scroll;
    /* overflow: hidden; */
    position: relative;
    scrollbar-width: none;
    /* firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

.filter-oo-bg {
    position: absolute;
    height: 100%;
    top: 50%;
    right: 50%;
    filter: grayscale(1);
    transform: translate(50%, -50%);
    transition: .3s ease;
}

.filter-oo-l {
    width: 3em;
    filter: grayscale(1);
    transition: .4s ease;
    /* transition: filter .3s ease, width .3s ease, scale .3s ease; */
    /*  */
    pointer-events: none;
}

.dimmer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    opacity: .8;
}

.output-option-selected .dimmer {
    opacity: .4;
}
.output-option-selected .filter-oo-bg {
    filter: grayscale(0);
    transform: translate(50%, -50%) scale(1.1);
}
.output-option-selected .filter-oo-l {
    filter: grayscale(0);
    transform: scale(1.5);
}

/* for webkit browsers such as chrome, safari, etc. */
#filter-output::-webkit-scrollbar {
    display: none;
}

#filter-scroll {
    width: 80%;
    /* same as filter-output */
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* scroll-left, scroll-right are img elements */
#filter-scroll img {
    z-index: var(--pupil-index);

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 99%;
    width: 1.5em;
    filter: drop-shadow(0 0 1em white) invert(.5);
}

#filter-scroll #scroll-left {
    transform: rotate(180deg) translateY(50%);
}

#filter-scroll #scroll-right {
    right: unset;
    left: 99%;
}


#filter-output > section {
    width: fit-content;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#filter-output > section > div {
    position: relative;
    height: 100%;
    width: 10em;
    padding: 0 2em;
    /* hide background image */
    overflow: hidden;
}

#filter-output > section > div:nth-child(even) {
    border: 2px solid black;
    border-top: none;
    border-bottom: none;
}





/* logos are white grascale() does nothing */
#filter-output div:not(.gang) .logo {
/* #filter-output .time .logo, */
/* #filter-output .location .logo, */
/* #filter-output .feeling .logo { */
    filter: invert(.4);
}

.description {
    position: absolute;
    bottom: 1em;
    margin: 0 auto;
}

.location .logo {
    text-align: center;
}