/*  making #images relative hides #filter-output for some reason! */
#gallery {
    /* z-index: 1; */
    height: fit-content;
    /* height: 90%; */
    /* overflow-y: scroll; */
    /* position: relative; */

    scrollbar-width: none;
}

#gallery-scroll {
    height: 90%;
    width: 100%;
    top: 10%;
    left: 0;
    display: none;
}

#gallery-scroll img {
    z-index: var(--pupil-index);

    position: absolute;
    top: 3%;
    right: 50%;
    transform: translateX(50%) rotate(-90deg);
    filter: drop-shadow(-5px 0px 8px black);
    width: 1.5em;
}

#gallery-scroll #scroll-down {
    top: unset;
    /* scroll-up is affected by the footer which takes up about 2% of space
    therefore instead of being equal 5% subtracting 2% to make it look even */
    bottom: 5%;
    transform: translateX(50%) rotate(90deg);
}

#gallery-dimmer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--rock);
    opacity: .8;


    display: none;
}

.row {
    display: flex;
}

.row > img, .row .photo-set {
    width: 33.33%;
    height: unset;
}

.row .two {
    width: 66.66%;
}


/* PHOTO SET */
.photo-set {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.photo-set>img {
    width: 100%;
    height: unset;
}

.photo-set-actions {
    position: absolute;
    margin: 1em 0;
    display: flex;
    align-items: center;
    gap: 1em;
}

.photo-set-links {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 1em;
}

.photo-set-link {
    width: 1.3em;
    height: 1.3em;
    border-radius: 100%;
    background: #D9D9D9;
    transition: width .5s ease, border-radius .5s ease;
    cursor: pointer;
    appearance: none;
    user-select: none;
}

.photo-set-link:hover {
    filter: brightness(.8);
}

.photo-set-link:checked {
    width: 3em;
    border-radius: 1em;
}

.photo-set-state {
    width: 1.5em;
    cursor: pointer;
}

#image-actions {
    /* z-index: var(--eye-index); */

    text-align: right;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
    backdrop-filter: blur(5px);
    /* padding: .4em .9em; */
    padding: 1em;
}

#image-actions button {
    font-size: .7em;
}