/*  making #images relative hides #filter-output for some reason! */
#gallery {
    /* z-index: 1; */
    height: fit-content;
    /* height: 90%; */
    /* overflow-y: scroll; */
    /* position: relative; */

    scrollbar-width: none;
}

#gallery-scroll {
    height: 90%;
    width: 100%;
    top: 10%;
    left: 0;
    display: none;
}

#gallery-scroll img {
    z-index: var(--pupil-index);

    position: absolute;
    top: 3%;
    right: 50%;
    transform: translateX(50%) rotate(-90deg);
    filter: drop-shadow(-5px 0px 8px black);
    width: 1.5em;
    transition: .5s ease;
}

#gallery-scroll #scroll-down {
    top: unset;
    /* scroll-up is affected by the footer which takes up about 2% of space
    therefore instead of being equal 5% subtracting 2% to make it look even */
    bottom: 5%;
    transform: translateX(50%) rotate(90deg);
}

#gallery-dimmer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--rock);
    opacity: .8;
    display: none;
}


.row {
    display: flex;
}

.row .image-container,
.row .photo-set {
    width: 33.33%;
    /* height: 100%; */
}

.row .two {
    width: 66.66%;
}


/* PHOTO SET */
.photo-set {
    justify-content: center;
}

.photo-set .image-container {
    width: 100%;
    height: unset;
}

.photo-set-actions {
    position: absolute;
    padding: 1em 2em;
    display: flex;
    align-items: center;
    gap: 1em;
}

.photo-set-links {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 1em;
}

.photo-set-link {
    width: 1.3em;
    height: 1em;
    border-radius: 100%;
    background: #D9D9D9;
    transition: width .5s ease, border-radius .5s ease;
    cursor: pointer;
    appearance: none;
    user-select: none;
}

.photo-set-link:hover {
    filter: brightness(.8);
}

.photo-set-link:checked {
    width: 3em;
    border-radius: 1em;
}

.photo-set-state {
    width: 1em;
    cursor: pointer;
}

/* 
 * Gallery images
 */
.image-container {
    position: relative;
}
.image-container-metadata {
    position: absolute;
    top: 1em;
    left: 1em;
    width: 100%;
}
.image-container-top-shadow {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0; left: 0;
    background: transparent;
    box-shadow: inset 0 5em 2em rgba(0, 0, 0, 0.637);
}
.ic-button {
    border: .1em solid white;
    color: white;
    min-width: 3em;
    padding: 0 1em;
}

.image-container>img {
    height: 100%;
    width: 100%;
}

.ic-close-button {
    position: absolute;
    right: 1em;
    top: 1em;
    background: rgb(119, 0, 0);
    border: .1em solid red;
    color: red;
    width: 2em;
    height: 2em;
    border-radius: 100%;
    display: none;
}

.ic-metadata {
    background: black;
    position: absolute;
    width: 100%;
    top: 100%;
    padding: 1em;
    display: none;
    border: .1em solid rgb(145, 145, 145);
    border-top: none;
}
.metadata-title {
    color: var(--rock);
}

#ic-creator {
    color: white;
}

.clicked-gallery-image {
        /* position: absolute; */
}

.clicked-gallery-image .ic-metadata {
    display: flex;
    z-index: 1;
}

/* 
# ic-options
*/
#ic-options {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    backdrop-filter: blur(6px);
}

.clicked-gallery-image #ic-options {
    display: flex;
    border: .1em solid rgb(145, 145, 145);
    /* border: .1em solid var(--white); */
    border-bottom: none;
}

.colored-vector {
    /* make it appear white */
    filter: grayscale(1) contrast(0) brightness(1.5);
    padding: .5em 0 .5em 0;
}

.colored-vector:hover {
    /* revert to original color */
    filter: unset;
}

/*
* enlarged
 */
#enlarged-image {
    position: fixed;
    width: fit-content;
    top: 0;
    height: 100vh;
    width: var(--main-width);
    background: black;
    margin: 0 auto;
}

#enlarged-actions {
    position: absolute;
    top: 1em;
    right: 1em;
}
#enlarged-actions img {
    width: 100%;
    height: 3em;
}


.export-test {
    justify-content: space-between;
    align-items: unset;
}
#export-settings {
    max-width: 30%;
    width: 30%;
    overflow-x: hidden;
    border-right: .1em solid white;
    padding: 2em 1em 0 0 ;
    gap: 1em;
}
#export-photo-container {
    position: relative;
    width: fit-content;
    align-items: center;
    width: 70%;
    height: 100%;
}
#export-photo-container > img {
    width: 100%;
    height: fit-content;
}