:root {
    --white: #EFEFEF;
    --filter-size: 2.2em;
    --rock: #7d7d7d;

    --feeling: blue;
    --location: red;
    --gang: orange;
    --time: green;

    --eye-index: 3;
    --pupil-index: 4;

    --main-width: 60%;
}

@font-face {
    font-family: "LogoFont";
    src: url("../fonts/BrunoAce-Regular.ttf") format("truetype");
    /* use systems font until custom font is ready to use */
    font-display: swap;
}

@font-face {
    font-family: "MainFont";
    src: url("../fonts/Akshar-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Maelstrom";
    src: url("../fonts/MetalMania-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "66th street";
    src: url("../fonts/LeagueGothic-Regular-VariableFont_wdth.ttf") format("truetype");
    font-display: swap;
}

html,
body {
    /* cursor: none; */

    background: black;
    color: var(--white);
    font-family: "MainFont", Arial, Helvetica, sans-serif;

    /* user-select: none -> not supported on WebView IOS */
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    font-size: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* cursor: none; */
    font-family: "MainFont", sans-serif;
}

main {
    width: var(--main-width);
    /* height: 100%; */
    margin: 0 auto;
    position: relative;
}

/* 
* HEADER
 */
header {
    top: 0;
    left: 0;
    position: sticky;
    /* mobile padding: 1em 2em */
    background: black;
    border-bottom: .1em solid var(--white);
    z-index: 1;
}
#header-visible {
    height: 10vh;
}

#logo h1 {
    font-family: "LogoFont", Arial, Helvetica, sans-serif;
}

#logo h1:hover {
    text-decoration: underline;
}

#logo small {
    color: var(--rock);
}

/* 
* Main Footer 
*/
#main-footer {
    position: fixed;
    bottom: 0;
    width: var(--main-width);
    margin: 0 auto;
    padding: .5em .5em;
    background: rgba(0, 0, 0, 0.884);
    backdrop-filter: blur(5px);
    /* z-index: 1; */
}

h1 {
    font-size: 1.3em;
}




/* START PRESETS */
.radiogroup {
    width: fit-content;
}
.radiogroup label {
    padding: .1em .2em;
}

/* .clickable {
    width: fit-content;
    position: relative;
}

.clicked {
    width: fit-content;
}

.clickable:hover::before {
    content: "[";
    position: absolute;
    left: 0;
}

.clickable:hover::after {
    content: "]";
    position: absolute;
    right: 0;
} */


/* BUTTONS */
button {
    border: none;
    background: none;
    padding: .3em;
    border: .1em solid white;
    border-radius: .3em;
}
button:hover {
    cursor: pointer;
}
.bare-button {
    border: none;
    border-radius: 0;
    padding: 0;
}
.red-button {
    border-color: red;
    color: red;
    background: #5a0808;
}
.green-button {
    border-color: rgb(0, 211, 0);
    color: rgb(0, 211, 0);
    background: green;
}
.blue-button {
    color: rgb(0, 153, 255);
    border-color: rgb(0, 153, 255);
    background: rgb(0, 0, 122);
}

/* END PRESETS */




/* START FRAMEWORK */
.flex {
    display: flex;
}
.fw {
    flex-wrap: wrap;
}

.ai-c {
    align-items: center;
}
.ai-s {
    align-items: start;
}

.jc-sb {
    justify-content: space-between;
}

.fd-c {
    flex-direction: column;
}

.ai-fe {
    align-items: flex-end;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fd-rr {
    flex-direction: row-reverse;
}

.jc-e {
    justify-content: end;
}
.jc-c {
    justify-content: center;
}

.ai-s {
    align-items: start;
}

.ai-e {
    align-items: end;
}

.hidden {
    display: none !important;
}

.gap_25 {
    gap: .25em;
}
.gap_5 {
    gap: .5em;
}
.gap1 {
    gap: 1em;
}
.gap1_5 {
    gap: 1.5em;
}

.width100 {
    width: 100%;
}

/* END FRAMEWORK */