@media screen and (max-width: 1300px) {
    main {
        width: 70%;
    }
}
@media screen and (max-width: 1100px) {
    main {
        width: 80%;
    }
}
@media screen and (max-width: 1000px) {
    header {
        padding: 1em 2em;
    }
    #filter-options {
        padding-right: 2em;
    }
    .row {
        flex-wrap: wrap;
    }
    #eye, #pupil{
        display: none;
    }
    .row img {
        width: 100%;
    }
    main {
        width: 100%;
    }

    #eye {
        transition: top .1s steps(5, jump-start), left .1s steps(5, jump-start);
    }

    #filter {
        height: 70vh;
        flex-direction: column;
    }

    #filter-options {
        width: fit-content;
        align-items: start;
    }
    #filter-actions, #filter-list {
        justify-content: space-between;
        align-items: center;
    }
    .filter-metadata {
        flex-direction: unset;
    }
    .filter-metadata-heading {
        padding-right: .5em;
    }
    #filter-actions button {
        padding: 0 .5em;
    }
}


@media screen and (max-width: 900px) {
    #filter-scroll {
        display: none;
    }
    #filter-output {
        height: 100%;
        width: 100%;
    }
    #filter-options {
        padding: 1em;
        height: unset;
        width: 100%;
        text-align: left;
    }
}

@media screen and (max-width: 600px) {
    #export-image {
        height: unset;
        width: 100%;
    }
}