:root {
    --white: #EFEFEF;
    --filter-size: 2.2em;
    --rock: #7d7d7d;

    --feeling: blue;
    --location: red;
    --gang: orange;
    --time: green;
}

@font-face {
    font-family: "LogoFont";
    src: url("./fonts/BrunoAce-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "MainFont";
    src: url("./fonts/Akshar-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Maelstrom";
    src: url("./fonts/MetalMania-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "66th street";
    src: url("./fonts/LeagueGothic-Regular-VariableFont_wdth.ttf") format("truetype");
}

html,
body {
    overflow: hidden;

    cursor: none;

    height: 100%;

    margin: 0;
    background: black;
    color: var(--white);
    font-family: "MainFont", Arial, Helvetica, sans-serif;

    /* user-select: none -> not supported on WebView IOS */
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 1.3em;
}

main {
    width: 60%;
    height: 100%;
    margin: 0 auto;

    position: relative;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    height: 10%;
}

#logo h1 {
    font-family: "LogoFont", Arial, Helvetica, sans-serif;
    z-index: 1001;
}

#logo small {
    color: var(--rock);
}

#logo {
    display: flex;
    flex-direction: column;
}

#filter-button {
    height: var(--filter-size);
    width: var(--filter-size);
    background: var(--white);
    border-radius: 100%;

    border-width: .2em;
    border-style: solid;
    border-top-color: var(--feeling);
    border-right-color: var(--location);
    border-bottom-color: var(--gang);
    border-bottom-width: .3em;
    border-left-color: var(--time);
}


#filter {
    z-index: 2;

    width: 100%;
    /* child of header -> header has 10% height relative to body -> 100% = 10% -> 300% = 30% of body */
    height: 350%;
    position: absolute;
    top: 100%;
    left: 0;
    background: black;
    /* padding: 2em 0; */
    border-top: 1px solid var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#filter-options {
    text-align: right;
    height: 100%;
    width: 20%;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#filter-options ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#filter-options ul li {
    width: fit-content;
    position: relative;
    list-style-type: none;
}
.filter-option {
    position: relative;
    display: flex;
}
.filter-option .background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
#feeling-option .before,
#feeling-option .after {
    color: var(--feeling);
}
#feeling-option .background {
    background: var(--feeling);

}
#location-option .before,
#location-option .after {
    color: var(--location);
}
#location-option .background {
    background: var(--location);
}
#gang-option .before,
#gang-option .after {
    color: var(--gang);
}
#gang-option .background {
    background: var(--gang);
}
#time-option .before,
#time-option .after {
    color: var(--time);
}
#time-option .background {
    background: var(--time);
}

#filter-actions button {
    border: none;
    background: none;
    color: var(--white);
}
#filter-actions button:hover {
    cursor: none;
}

#filter-output {
    /* background: rgb(38, 38, 38);
    background: linear-gradient(102deg, rgba(38, 38, 38, 1) 0%, rgba(25, 25, 25, 1) 100%); */

    width: 80%;
    height: 100%;
    overflow-y: scroll;
    /* overflow: hidden; */
    position: relative;
    scrollbar-width: none; /* firefox */
    -ms-overflow-style: none; /* IE 10+ */
}
/* for webkit browsers such as chrome, safari, etc. */
#filter-output::-webkit-scrollbar {
    display: none;
}

#filter-scroll {
    width: 80%; /* same as filter-output */
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
/* scroll-left, scroll-right are img elements */
#filter-scroll img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 99%;
    z-index: 2;
    width: 1.5em;
    filter: drop-shadow(0 0 1em black);
}
#filter-scroll #scroll-left {
    transform: rotate(180deg) translateY(50%);
}
#filter-scroll #scroll-right {
    right: unset;
    left: 99%;
}

#filter-output section {
    /* 
    align #filter-output and #filter-options 
     */
}


/* #filter-output-gang */
#filter-output > section {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
/* .gang */
#filter-output > section > div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 10em;
    padding: 0 2em;
    /* hide background image */
    overflow: hidden;
}
#filter-output > section > div:nth-child(even) {
    border: 2px solid black;
    border-top: none;
    border-bottom: none;
}
#filter-output .logo {
    width: 3em;
    filter: grayscale(1);
    transition: filter .3s ease, width .3s ease, scale .3s ease;
    /*  */
    pointer-events: none;
}
#maelstrom .logo {
    width: 4em;
}
#filter-output .dimmer {
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    background: black;
    opacity: .8;
}
#filter-output .background {
    position: absolute;
    height: 100%;
    top: 50%; right: 50%;
    filter: grayscale(1);
    transform: translate(50%, -50%);
    transition: filter .3s ease;
}

/* logos are white grascale() does nothing */
#filter-output .time .logo, #filter-output .location .logo {
    filter: invert(.4);
}
.description {
    position: absolute;
    bottom: 1em;
    margin: 0 auto;
}
.location .logo {
    text-align: center;
}
.time {
    width: 15em !important;
}



.hidden {
    display: none !important;
}

#eye {
    z-index: 3;

    height: 2em;
    width: 2em;
    background: var(--white);
    border-radius: 100%;
    position: absolute;
    border: 1px solid black;

    /* 
    smaller screen = increase steps
     */
    transition: top .1s steps(2, jump-start), left .1s steps(2, jump-start), opacity .2s linear;
    pointer-events: none;
}
#pupil {
    z-index: 4;

    height: 1em;
    width: 1em;
    background: black;
    border-radius: 100%;
    position: absolute;
    border: 1px solid white;
    pointer-events: none;
}

.blink {
    animation-name: blink;
    animation-duration: .5s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-play-state: running;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.indicate {
    animation-name: indicate;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes indicate {

    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: .5;
        background: white;
    }
}


@media screen and (max-width: 1000px) {
    main {
        width: 80%;
    }

    #eye {
        transition: top .1s steps(5, jump-start), left .1s steps(5, jump-start);
    }
}

#image-actions {
    text-align: right;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    padding: .4em .9em;
    /* same as eye; one less than pupil */
    z-index: 3;
}
#image-actions button {
    background: none;
    border: none;
    color: var(--white);
}


footer {
    z-index: 1;
    background: black;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer div {
    display: flex;
    align-items: center;
}
footer img {
    height: .8em;
}

#gallery-scroll {
    height: 90%;
    width: 100%;
    position: absolute;
    top: 10%;
    left: 0;
}
#gallery-scroll img {
    position: absolute;
    top: 3%;
    right: 50%;
    transform: translateX(50%) rotate(-90deg);
    z-index: 2;
    width: 2em;
}
#gallery-scroll #scroll-down {
    top: unset;
    /* scroll-up is affected by the footer which takes up about 2% of space
    therefore instead of being equal 5% subtracting 2% to make it look even */
    bottom: 5%;
    transform: translateX(50%) rotate(90deg);
}

/*  making #images relative hides #filter-output for some reason! */
#gallery {
    /* z-index: 1; */
    height: 90%;
    overflow-y: scroll;
    position: relative;

    scrollbar-width: none;
}
::-webkit-scrollbar {
    width: none;
    display: none;
}

#gallery-dimmer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--rock);
    opacity: .8;
}
.row {
    display: flex;
}

.row img {
    width: 33.33%;
}

.row .two {
    width: 66.66%;
}